@charset "UTF-8";

body {
	margin: 0
}

header {
	background-image: url('/gymcarry/resources/user/email-background.jpg');
	background-repeat: no-repeat;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-blend-mode: luminosity; /*여기서 조절*/
	background-color: #A9A9A9;
}

.paper {
	padding: 50px;
	background-color: white;
	width: 100%;
	height: 650px;
	border-radius: 5px;
	box-shadow: 10px 10px #BDBDBD;
}
.paper-top {
	line-height: 20px;
}

.paper-top strong {
	font-size: 18px
}

.paper-top span {
	font-size: 20px
}

.paper-fnt {
	font-size: 20px
}
.span-title{
	font-size: 20px
}
.span-title2{
	font-size: 12px;
	color:#777;
	font-weight:500;
}
.form-input2 {	
	margin-bottom: 0px;
	width: 100%;
	border: 0 none;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	background: none;
	font-size: 15px;
	font-weight: 400;
	height: 45px;
	padding: 12px 0 0 0;
	-webkit-appearance: none;
}
.form-input2:focus {
	outline: 0;
	box-shadow: none;
	border-bottom: 3px solid #888;
}
.form-input2:hover {
	border-bottom: 2px solid #888;
	transition: 0.1s;
}
.label-fnt{
	font-size:14px;
	color: #89283e;
	font-family: 'Jua', sans-serif;
}
.btn-findid{
	background: #89283e;
	color: #fff;
	font-size: 14px;
	border:0 none;
	height: 30px;
	border-radius: 4px;
	font-family: 'Jua', sans-serif;
	width:100%;
}
.result-div{
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    border-radius: 4px;
    height: 170px;
    margin-top: 30px;
	line-height: 40px;
}
.big{
	font-size:50px;
}
.fnt1{
	font-size: 20px;	
	font-family: 'Jua', sans-serif;
}
.result-div-in{
	padding: 35px;
}