@charset "UTF-8";
*{
	font-family: 'Jua', sans-serif;
}
A:link{
	text-decoration: none; color:black
}
A:hover{
	text-decoration:none;color:black
}	
A:visited{
	text-decoration: none;color:black
}
A:active{
	text-decoration: none;color:black
}
.avatar-img{
	width: 120px;
	height: 120px;
	border-radius:100px;
	margin-top: 10px;
}
select.ui.dropdown{
	width:100%;
	margin:8px;
}
.edit_modal{
	height:900px;
	width:550px;
	padding:20px;
}
.frm-div{
	margin-bottom: 10px;
}
.frm-div2{
	width:100%;
}
.sub-btn{
	width:80%;
	background:#890422;
	color:white;
	font-size: 14px;
	font-family: 'Jua', sans-serif;
}
.warn-label{
	position:absolute;
	color:#f03919;
	font-size:12px;
	font-weight:bold;
	font-family: 'Jua', sans-serif;
}
.succ-label{
	position:absolute;
	color:#00BFF0;
	font-size:12px;
	font-weight:bold;
	font-family: 'Jua', sans-serif;
}
.img-div{
	margin-bottom: 20px;
}
.foot{
	width:100%;
	height:300px;
	background-color: #fff;
}
.img-a{
	margin-top:30px;
	margin-bottom:10px;
}
.foot-span-fnt{
	color: #777
}
.foot-a-div{
	margin:10px;
}
.foot-a-div a{
	margin:25px;
	color: #890422;
}
.foot-a-div a:hover{
	margin:25px;
	color: #890422;
}